:root {
    --level-0: #000;
    --level-1: #131c2290;
    --level-1-opaque: #131c22dd;
    --text: #bbb;
    --primary: #0cf;
    --primary-light: #00ccffaa;
    --primary-op: #00ccff40;
    --grey-blue: #677486;
    --grey-blue-op: #67748680;
    --secondary: #00ffb3;
    --red-button: rgba(255, 159, 159, 0.2);
}

@font-face {
    font-family: "Roboto-Light";
    src: url("/fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("/fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("/fonts/Roboto-Regular.ttf");
}

html {
    overflow: hidden;
    width: 100%;
    color-scheme: dark;
    accent-color: var(--primary);
}

body {
    margin: 0;
    font-family: Roboto-Regular, sans-serif;
    background-color: var(--level-0);
    color: var(--text);
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: clip;
}

.pane {
    display: flex;
    padding: 2em;
    flex-direction: column;
    border-radius: 0.5em;
    box-shadow:
        0 0 25em var(--primary-op),
        inset 0 0 10em #0cf3,
        inset 0 0 0.5em #0ff2;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2P8//+/FCMj4zNGBigAADqJBAO/UCEeAAAAAElFTkSuQmCC),
        linear-gradient(0deg, #010b22, var(--level-1));
    image-rendering: pixelated;
}

.pane-thin {
    display: flex;
    padding: 1em;
    flex-direction: column;
    border-radius: 0.5em;
    box-shadow:
        0 0 25em var(--primary-op),
        inset 0 0 10em #0cf3,
        inset 0 0 0.5em #0ff2;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2P8//+/FCMj4zNGBigAADqJBAO/UCEeAAAAAElFTkSuQmCC),
        linear-gradient(0deg, #010b22, var(--level-1));
    image-rendering: pixelated;
}

.zero-padding-popup {
    padding: 0;
    max-height: 70vh !important;
}

.pane > * {
    image-rendering: unset;
}

.nested-pane {
    --pane-padding: 1em;

    display: flex;
    padding: var(--pane-padding);
    flex-direction: column;
    border-radius: 0.5em;
    border: 1px solid var(--primary-op);
    background-color: #00ccff10;
    gap: 0.5em;
}

.heading {
    font-family: Roboto-Light, sans-serif;
    font-weight: normal;
    color: white;
    filter: drop-shadow(0 0 4px var(--primary));
}

.sub-heading {
    font-family: Roboto-Light, sans-serif;
    font-weight: normal;
    color: white;
    filter: drop-shadow(0 0 4px var(--primary));
    margin: 0;
}

.neon {
    filter: brightness(0) invert() drop-shadow(0 0 4px var(--primary));
}

.inverted {
    transform: rotate(180deg);
}

@media screen and (max-width: 2000px) {
    body {
        font-size: 0.8em;
    }
}

.popup-arrow {
    color: #2189a3;
    fill-opacity: 50%;
}

.popup-content > .pane,
.popup-content > .pane-thin {
    backdrop-filter: blur(8px);
}
