:root {
    --level-0: #000;
    --level-1: #44444440;
    --text: #bbb;
    --primary: #0cf;
    --primary-op: #00ccff40;
    --secondary: #00ffb3;
}

@font-face {
    font-family: "Roboto-Light";
    src: url('/fonts/Roboto-Light.ttf');
}

@font-face {
    font-family: "Roboto-Thin";
    src: url('/fonts/Roboto-Thin.ttf');
}

@font-face {
    font-family: "Roboto-Regular";
    src: url('/fonts/Roboto-Regular.ttf');
}

html {
    overflow: hidden;
    width: 100%;
}

body {
    margin: 0;
    font-family: Roboto-Regular, sans-serif;
    background-color: var(--level-0);
    color: var(--text);
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: clip;
}

.pane {
    display: flex;
    padding: 2em;
    flex-direction: column;
    border-radius: 0.5em;
    animation: pulse 4s ease-in alternate infinite;
    box-shadow: 0 0 25em var(--primary-op), inset 0 0 10em #0cf3, inset 0 0 0.5em #0ff2;
    backdrop-filter: blur(0.1em);
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2P8//+/FCMj4zNGBigAADqJBAO/UCEeAAAAAElFTkSuQmCC),
    linear-gradient(0deg,#010b22,var(--level-1));
    image-rendering: pixelated;
}

.pane > * {
    image-rendering: unset;
}

.heading {
    font-family: Roboto-Light, sans-serif;
    font-weight: normal;
    color: white;
    filter: drop-shadow(0 0 4px var(--primary));
}

.neon {
    filter: brightness(0) invert() drop-shadow(0 0 4px var(--primary));
}

.menu {
    position: absolute;
    padding: 1em;
    top: 1em;
    left: 1em;
    width: 5em;
    height: calc(100vh - 4em);
    animation: yourAnimation 0.9s step-End 0.4s 1 normal backwards;
}

.menu-item {
    position: relative;
    cursor: pointer;
    padding: 0.5em;
}

.menu-item.active {
    width: calc(100% + 0.5em);
}

.menu-item.active::before {
    content: "";
    position: absolute;
    left: -0.3em;
    top: calc(50% - 0.25em);
    border-radius: 50%;
    border: 0.25em solid white;
    background-color: white;
    filter: brightness(0) invert() drop-shadow(0 0 4px var(--primary));
}

.menu-item:hover > .icon svg {
    filter: brightness(0) invert() drop-shadow(0 0 8px var(--primary));
}

.menu-item:hover > .icon {
    animation: bounceLR 1s infinite;
    transform-origin: center left;
}

.menu-item:hover > .menu-hint {
    color: white;
    filter: drop-shadow(0 0 8px var(--primary));
}

.menu-item-container {
    display: flex;
    justify-content: center;
}

.menu-hint {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.7em;
    color: var(--text);
    transition: all 200ms;
}

.menu-seperator {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: brightness(0) invert() drop-shadow(0 0 8px var(--primary));
}

.menu-seperator::before, .menu-seperator::after {
    content: "";
    height: 1px;
    width: 80%;
    background-color: white;
    filter: brightness(0) invert() drop-shadow(0 0 8px var(--primary));
    margin: 0.25em;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon > svg {
    transition: all 200ms;
    width: 80%;
    height: fit-content;
}

.content-container {
    margin-top: 1em;
    margin-left: 9em;
    width: calc(100% - 10em);
    height: calc(100vh - 2em);
}