:root {
    --level-0: #000;
    --level-1: #44444440;
    --text: #bbb;
    --primary: #0cf;
    --primary-op: #00ccff40;
    --secondary: #00ffb3;
}

html {
    overflow: hidden;
    width: 100%;
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--level-0);
    color: var(--text);
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: clip;
}

.pane {
    display: flex;
    padding: 2em;
    flex-direction: column;
    border-radius: 0.5em;
    animation: pulse 4s ease-in alternate infinite;
    box-shadow: 0 0 25em var(--primary-op), inset 0 0 10em #0cf3, inset 0 0 0.5em #0ff2;
    backdrop-filter: blur(0.1em);
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAIAAAACCAYAAABytg0kAAAAFUlEQVQIW2P8//+/FCMj4zNGBigAADqJBAO/UCEeAAAAAElFTkSuQmCC),
    linear-gradient(0deg,#010b22,var(--level-1));
    image-rendering: pixelated;
}

.pane > * {
    image-rendering: unset;
}

.heading {
    font-weight: normal;
}
