:root {
    --level-0: #000;
    --level-1: #44444440;
    --text: #bbb;
    --primary: #0cf;
    --primary-op: #00ccff40;
    --secondary: #00ffb3;
}

html {
    overflow: hidden;
    width: 100%;

    background-color: var(--level-0);
}

body {
    margin: 0;
    font-family: sans-serif;
    background-color: var(--level-0);
    color: var(--text);
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: clip;
}

.background {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
