[Migration]
Hash = "5247173243364685502"
Initial = false
Dependency = 1
Replaces = []

[[Migration.Operations]]
Type = "CreateModel"
Name = "workspacemember"

[[Migration.Operations.Fields]]
Name = "id"
Type = "int64"

[[Migration.Operations.Fields.Annotations]]
Type = "auto_increment"

[[Migration.Operations.Fields.Annotations]]
Type = "primary_key"

[[Migration.Operations.Fields]]
Name = "created_at"
Type = "datetime"

[[Migration.Operations.Fields.Annotations]]
Type = "auto_create_time"

[[Migration.Operations.Fields.Annotations]]
Type = "not_null"

[[Migration.Operations]]
Type = "CreateField"
Model = "workspacemember"

[Migration.Operations.Field]
Name = "member"
Type = "varbinary"

[[Migration.Operations.Field.Annotations]]
Type = "not_null"

[[Migration.Operations.Field.Annotations]]
Type = "foreign_key"

[Migration.Operations.Field.Annotations.Value]
TableName = "user"
ColumnName = "uuid"
OnDelete = "Cascade"
OnUpdate = "Cascade"

[[Migration.Operations]]
Type = "CreateField"
Model = "workspacemember"

[Migration.Operations.Field]
Name = "workspace"
Type = "int64"

[[Migration.Operations.Field.Annotations]]
Type = "not_null"

[[Migration.Operations.Field.Annotations]]
Type = "foreign_key"

[Migration.Operations.Field.Annotations.Value]
TableName = "workspace"
ColumnName = "id"
OnDelete = "Cascade"
OnUpdate = "Cascade"
