[Server]
ApiListenAddress = "127.0.0.1"
ApiListenPort = 8080
RpcListenAddress = "127.0.0.1"
RpcListenPort = 8081
SecretKey = "{{ kraken_secret_key }}"
ReportingKey = "{{ kraken_reporting_key }}"
OriginUri = "{{ origin_uri }}"

[Database]
# Only used by rorm-cli
Driver = "Postgres"
Host = "127.0.0.1"
Port = 5432
User = "{{ kraken_db_user }}"
Password = "{{ kraken_db_password }}"
Name = "{{ kraken_db_name }}"

[Logging]
LogLevel = "debug"
Path = "/var/log/kraken/main.log"
RotationFileSize = "10 MB"
MaxRotationCount = 10

[[Logging.AdditionalFileLoggers]]
Name = "requests"
AddToMainLogger = true
Path = "/var/log/kraken/requests.log"
RotationFileSize = "10 MB"
MaxRotationCount = 5
AlternativePattern = "{h([{d(%Y-%m-%d %H:%M:%S)} | {({l}):5.5}])} {m}{n}"