.input {
    font-family: inherit;
    background-color: var(--level-0);
    color: var(--text);
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    box-shadow:
        inset 0 -3px 2em -3px var(--primary-op),
        0 0 10em #0cf3,
        0 0 0.5em #0ff2;
    transition: box-shadow 0.2s ease-out;
}

input[type="color"].input {
    padding: revert;
}

.input:user-invalid,
.input:out-of-range {
    box-shadow:
        inset 0 -3px 2em -3px #f004,
        0 0 10em #f004,
        0 0 0.5em 2px #f004;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--level-0);
    border: none;
    border-radius: 0.5em;
    color: var(--text);
    padding: 0.5em 0.5em;
    transition:
        padding linear 500ms,
        margin-top linear 500ms,
        background-color ease-in-out 500ms;
    box-shadow:
        inset 0 -3px 2em var(--primary-op),
        0 0 10em #0cf3,
        0 0 0.5em #0ff2;
}

.button:hover {
    background-color: var(--level-1);
}

.button:active {
    transform: translate(1px, 1px);
}

.textarea {
    background-color: var(--level-0);
    color: var(--text);
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    box-shadow:
        inset 0 -3px 2em -3px var(--primary-op),
        0 0 10em #0cf3,
        0 0 0.5em #0ff2;
}

.editable-list {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.5em;
}

.editable-list > div:not(:first-child) {
    display: contents;
}

.editable-list > div:first-child {
    grid-column: 1 / 3;
}

.bubble-list {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.bubble {
    padding: 0.25em 1em;
    border-radius: 0.75em;
    border: 1px solid var(--primary-op);
    transition: all ease 200ms;
    cursor: pointer;
}

.bubble:hover {
    box-shadow:
        inset 0 -3px 2em -3px var(--primary-op),
        0 0 10em #0cf3,
        0 0 0.5em #0ff2;
}

.bubble-primary {
    background-color: #00ccff50;
}

.bubble-red {
    background-color: #ff000050;
    border: 1px solid #ff000070;
}

.red {
    background-color: var(--toast-error);
}

.icon-button {
    background-color: transparent;
    border-radius: 0.25em;
}

.icon-button {
    width: 2.75em;
    height: 2em;
    cursor: pointer;
    border: none;
    transition: all ease 200ms;
    background-color: transparent;
}

.icon-button:hover {
    filter: drop-shadow(0 0 1em var(--primary));
}

.icon-button:active {
    transform: translate(1px, 1px);
}

.severity-icon-ok {
    filter: brightness(0) invert() drop-shadow(0 0 4px #0f8);
}

.severity-icon-ok path {
    stroke: rgba(202, 255, 231, 0.7);
}

.severity-icon-low {
    filter: brightness(0) invert() drop-shadow(0 0 4px #ffcc00);
}

.severity-icon-low path {
    stroke: rgba(255, 211, 0, 0.7);
}

.severity-icon-medium {
    filter: brightness(0) invert() drop-shadow(0 0 4px #ff6a00);
}

.severity-icon-medium path {
    stroke: rgba(255, 204, 146, 0.7);
}

.severity-icon-high {
    filter: brightness(0) invert() drop-shadow(0 0 4px #ff0000);
}

.severity-icon-high path {
    stroke: rgba(255, 146, 146, 0.7);
}

.severity-icon-critical {
    filter: brightness(0) invert() drop-shadow(0 0 4px #9900ff);
}

.severity-icon-critical path {
    stroke: rgba(215, 146, 255, 0.7);
}

.start-attack-container {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.start-attack-button {
    background: none;
    border: none;
    padding: 0;
}

.start-attack-container svg {
    width: 5em;
    height: fit-content;
}

.start-attack-container span {
    color: white;
    font-size: 1.5em;
}

/* Style the start-attack svg based on the <form/>'s validity */
form:not(:invalid) .start-attack {
    cursor: pointer;
}

form:not(:invalid) .start-attack path:last-of-type {
    filter: brightness(0) invert() drop-shadow(0 0 4px var(--primary));
}

form:invalid .start-attack path:first-of-type {
    fill-opacity: 10% !important;
    stroke: var(--text);
    fill: var(--primary-op);
}

form:invalid .start-attack path:last-of-type {
    fill: var(--text);
}

.tag-list {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.tag {
    /* Overwritten by javascript to match the dynamic color stored in db */
    --color: #00ccff20;

    background-color: var(--color);
    border: 1px solid var(--primary-op);
    width: max-content;
    padding: 0.1em 0.7em;
    color: var(--text);
    border-radius: 1em;
}

.tag.interactive:hover {
    box-shadow:
        0 0 1em var(--color),
        0 0 1em rgba(255, 255, 255, 0.2) inset;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: var(--grey-blue);
    border-radius: 20px;
}

.indicator {
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.5em;
    border: 1px solid white;
    background-color: white;
}

.indicator.off {
    background-color: transparent;
}

/* XXX: fix sizing issue at 100%, upstream PR: https://github.com/JedWatson/react-select/pull/5880 */
.dropdown > input[aria-hidden="true"][value=""] {
    box-sizing: border-box;
}

.dropdown {
    z-index: 10;
}
