
.input {
    background-color: var(--level-0);
    color: var(--text);
    padding: 0.5em 0.5em;
    border: none;
    border-radius: 0.5em;
    box-shadow: inset 0 -3px 2em -3px var(--primary-op), 0 0 10em #0cf3, 0 0 .5em #0ff2;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--level-0);
    border: none;
    border-radius: 0.5em;
    color: var(--text);
    padding: 0.5em 0.5em;
    transition: padding linear 500ms, margin-top linear 500ms, background-color ease-in-out 500ms;
    box-shadow: inset 0 -3px 2em var(--primary-op), 0 0 10em #0cf3, 0 0 .5em #0ff2;
}

.button:hover {
    background-color: var(--level-1);
}

.button:active {
    transform: translate(1px, 1px);
}

.textarea {
    background-color: var(--level-0);
    color: var(--text);
    padding: 0.5em 0.5em;
    border: none;
    border-radius: 0.5em;
    box-shadow: inset 0 -3px 2em -3px var(--primary-op), 0 0 10em #0cf3, 0 0 .5em #0ff2;
}
