.input {
    background-color: var(--level-0);
    color: var(--text);
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    box-shadow: inset 0 -3px 2em -3px var(--primary-op), 0 0 10em #0cf3, 0 0 .5em #0ff2;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--level-0);
    border: none;
    border-radius: 0.5em;
    color: var(--text);
    padding: 0.5em 0.5em;
    transition: padding linear 500ms, margin-top linear 500ms, background-color ease-in-out 500ms;
    box-shadow: inset 0 -3px 2em var(--primary-op), 0 0 10em #0cf3, 0 0 .5em #0ff2;
}

.button:hover {
    background-color: var(--level-1);
}

.button:active {
    transform: translate(1px, 1px);
}

.textarea {
    background-color: var(--level-0);
    color: var(--text);
    padding: 0.5em 0.5em;
    border: none;
    border-radius: 0.5em;
    box-shadow: inset 0 -3px 2em -3px var(--primary-op), 0 0 10em #0cf3, 0 0 .5em #0ff2;
}

.editable-list {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 0.5em;
}
.editable-list > div:not(:first-child) {
    display: contents;
}
.editable-list > div:first-child {
    grid-column: 1 / 3;
}

.bubble-list {
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.bubble {
    padding: 0.25em 1em;
    border-radius: 0.75em;
    border: 1px solid var(--primary-op);
    transition: all ease 200ms;
    cursor: pointer;
}

.bubble:hover {
    box-shadow: inset 0 -3px 2em -3px var(--primary-op), 0 0 10em #0cf3, 0 0 .5em #0ff2;
}

.red {
    background-color: var(--toast-error);
}

.icon-button {
    background-color: transparent;
    border-radius: 0.25em;

}

.icon-button {
    width: 2.75em;
    height: 2em;
    cursor: pointer;
    border: none;
    transition: all ease 200ms;
    background-color: transparent;
}

.icon-button:hover {
    filter: drop-shadow(0 0 1em var(--primary));
}

.icon-button:active {
    transform: translate(1px, 1px);
}