.create-finding-definition-container {
    display: grid;
    grid-template-rows: 7em calc(100% - 1em - 7em);
    gap: 1em;
    height: 100%;
}

.create-finding-definition-container > div:first-child {
    justify-content: center;
}

.create-finding-definition-container > div:last-child {
    display: grid;
    grid-template-columns: 1fr 1.25fr;
    gap: 4em;
    box-sizing: border-box;
    height: 100%;
}

/*
 * Form on the left panel
 */
.create-finding-definition-form {
    height: 100%;
    overflow-y: scroll;
    box-sizing: border-box;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding-right: 0.1em;
}

.create-finding-definition-form .sub-heading {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.25em;
}
.create-finding-definition-form .sub-heading .icon {
    width: 1.5em;
}

.create-finding-definition-header {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    column-gap: 1.5em;
}

/*
 * Editor on the right panel
 */
.create-finding-definition-editor {
    display: flex;
    flex-direction: row;
}
