.filter-editor {
    min-width: 400px;
    max-width: 50vw;
}

.filter-editor > fieldset,
.filter-editor > main {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding-bottom: 1em;
}

.filter-editor > fieldset > label,
.filter-editor > main > label,
.filter-editor > fieldset > .row,
.filter-editor > main > .row {
    display: grid;
    grid-template-columns: 150px 1fr;
    gap: 1em;
    align-items: center;
}

.filter-editor label.label3,
.filter-editor .row.label3 {
    grid-template-columns: 150px 1fr 1fr;
}

.filter-editor > footer {
    display: flex;
    justify-content: end;
    gap: 1em;
}

.filter-editor > footer > button {
    padding: 0.5em 1em;
}

.filter-editor > footer > .input {
    flex-grow: 1;
    margin-left: 10em;
}

.filter-editor > footer > .input:not(:focus) {
    background-color: transparent;
}

.filter-editor fieldset {
    opacity: unset;
    border: 1px solid var(--primary-op);
    border-left: none;
    border-right: none;
    padding: 0.5em 1em 1em;
    margin-left: -1em;
    margin-right: -1em;
    margin-top: -0.5em;
    margin-bottom: 1em;
}

.filter-editor fieldset legend .icon {
    width: 2em;
}
.filter-editor fieldset legend .icon > svg {
    fill: var(--primary);
}

.filter-editor fieldset legend {
    color: var(--primary);
    display: flex;
    align-items: center;
}

.filter-editor fieldset.collapsed {
    padding-top: 0;
    padding-bottom: 0;
    border-left: none;
    border-bottom: none;
    border-right: none;
    border-radius: 0;
    margin-bottom: 0;
}

.filter-editor fieldset.collapsed > :not(legend) {
    display: none;
}

.filter-editor .checkbox-list > div {
    display: flex;
    flex-wrap: wrap;
}

.filter-editor .checkbox-list > div > label {
    display: flex;
    align-items: center;
    padding: 0.25em;
}
