.invitation-popup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5em;
    padding: 2em 6em;
}

.invitation-icon{
    width: 5em;
}

.invitation-button {
    width: 100%;
}

.invitation-text{
    display: flex;
    gap: 0.5em;
    align-items: center;
    flex-direction: column;
}