.list-finding-definition-container {
    display: grid;
    grid-template-rows: 7em 3em calc(100% - 1em - 3em - 1em - 7em);
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    height: 100%;
}

.list-finding-definition-container .sub-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.list-finding-definition-heading {
    grid-area: 1 / 1 / span 1 / span 2;
    justify-content: center;
}

.list-finding-definition-searchbar {
    grid-area: 2 / 1 / span 1 / span 2;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding: 0.5em;
}

.list-finding-definition-searchbar > input {
    flex-grow: 1;
}

.list-finding-definition-searchbar > button > .icon {
    width: 1.4em;
}

.list-finding-definition-list {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: auto;
}

.list-finding-definition-item {
    padding: 1em;
    box-sizing: border-box;
    cursor: pointer;
}
.list-finding-definition-item > p {
    margin: 0.2em 0 0 0;
    text-overflow: ellipsis;
    height: 3em;
    overflow: hidden;
    white-space: break-spaces;
}
.list-finding-definition-item:hover {
    box-shadow: 0 0 25em var(--primary-op), inset 0 0 10em #0cf3, inset 0 0 0.5em #0ff2, 0 0 1em var(--primary-op);
}
