@keyframes dash {
    to {
        stroke-dashoffset: 100%;
    }
}
@keyframes inverted-dash {
    to {
        stroke-dashoffset: -100%;
    }
}

.login-container {
    display: flex;
    width: 100%;
    margin-top: 20vh;
    justify-content: center;
    align-items: center;
}

.login {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.login > svg {
    width: 15em;
    height: fit-content;
}

.cyber-login path {
    stroke-dasharray: 15px;
    stroke: var(--primary) !important;
    animation: dash linear 4s infinite;
}
