.me {
    display: grid;
    grid-template-columns: 15em 3fr;
    gap: 3em;
    animation: yourAnimation 0.3s step-End 0.4s 1 normal backwards;
}

.me-settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.change-pwd {
    display: flex;
    flex-direction: column;
    width: 20em;
}