.base-layout {
    display: grid;
    margin: 1em;
    gap: 1em;
    grid-template-columns: 7em calc(100vw - 3em - 7em);
    grid-template-rows: 5em calc(100vh - 3em - 5em);
}

.top-bar {
    grid-area: 1 / 2 / span 1 / span 1;
    display: flex;
    gap: 1em;
}

.content-container {
    grid-area: 2 / 2 / span 1 / span 1;
}

.menu {
    grid-area: 1 / 1 / span 2 / span 1;
    padding: 1em;
    animation: yourAnimation 0.9s step-End 0.4s 1 normal backwards;
}

.menu-header {
    margin-bottom: 1em;
}

.menu-item {
    position: relative;
    cursor: pointer;
    padding: 0.5em;
}

.menu-item.active {
    width: calc(100% + 0.5em);
}

.menu-item.active::before {
    content: "";
    position: absolute;
    left: -0.3em;
    top: calc(50% - 0.25em);
    border-radius: 50%;
    border: 0.25em solid white;
    background-color: white;
    filter: brightness(0) invert() drop-shadow(0 0 4px var(--primary));
}

.menu-item:hover > .icon svg {
    filter: brightness(0) invert() drop-shadow(0 0 8px var(--primary));
}

.width{
    width: 1em;
    height: 1em;
}

.menu-item:hover > .icon {
    animation: bounceLR 1s infinite;
    transform-origin: center left;
}

.menu-item:hover > .menu-hint {
    color: white;
    filter: drop-shadow(0 0 8px var(--primary));
}

.menu-item-container {
    display: flex;
    justify-content: center;
}

.menu-hint {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.7em;
    color: var(--text);
    transition: all 200ms;
}

.menu-seperator {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: brightness(0) invert() drop-shadow(0 0 8px var(--primary));
}

.menu-seperator::before, .menu-seperator::after {
    content: "";
    height: 1px;
    width: 80%;
    background-color: white;
    filter: brightness(0) invert() drop-shadow(0 0 8px var(--primary));
    margin: 0.25em;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon > svg {
    transition: all 200ms;
    width: 80%;
    height: fit-content;
}

.workspace-selector-container {
    width: 25em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
}

.workspace-selector-container .icon {
    width: 3em;
}

