
.menu {
    position: absolute;
    padding: 1em;
    top: 1em;
    left: 1em;
    width: 5em;
    height: calc(100vh - 4em);
    animation: yourAnimation 0.9s step-End 0.4s 1 normal backwards;
}

.menu-header {
    margin-bottom: 1em;
}

.menu-item {
    position: relative;
    cursor: pointer;
    padding: 0.5em;
}

.menu-item.active {
    width: calc(100% + 0.5em);
}

.menu-item.active::before {
    content: "";
    position: absolute;
    left: -0.3em;
    top: calc(50% - 0.25em);
    border-radius: 50%;
    border: 0.25em solid white;
    background-color: white;
    filter: brightness(0) invert() drop-shadow(0 0 4px var(--primary));
}

.menu-item:hover > .icon svg {
    filter: brightness(0) invert() drop-shadow(0 0 8px var(--primary));
}

.menu-item:hover > .icon {
    animation: bounceLR 1s infinite;
    transform-origin: center left;
}

.menu-item:hover > .menu-hint {
    color: white;
    filter: drop-shadow(0 0 8px var(--primary));
}

.menu-item-container {
    display: flex;
    justify-content: center;
}

.menu-hint {
    width: 100%;
    text-align: center;
    margin-top: 0.5em;
    font-size: 0.7em;
    color: var(--text);
    transition: all 200ms;
}

.menu-seperator {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    filter: brightness(0) invert() drop-shadow(0 0 8px var(--primary));
}

.menu-seperator::before, .menu-seperator::after {
    content: "";
    height: 1px;
    width: 80%;
    background-color: white;
    filter: brightness(0) invert() drop-shadow(0 0 8px var(--primary));
    margin: 0.25em;
}

.icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon > svg {
    transition: all 200ms;
    width: 80%;
    height: fit-content;
}

.workspace-selector-container {
    position: absolute;
    top: 1em;
    right: 1em;
    width: 25em;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 1em;
}

.workspace-selector-container .icon {
    width: 3em;
}

.content-container {
    margin-top: 7em;
    margin-left: 9em;
    width: calc(100% - 10em);
    height: calc(100vh - 2em);
}

@media screen and (max-width: 2000px) {
    .menu {
        width: 4em;
    }

    .workspace-selector-container {
        height: 2em;
        width: 20em;
    }

    .content-container {
        margin-top: 6em;
        margin-left: 8em;
        width: calc(100% - 9em);
    }
}