.screenshot-input button {
    overflow: visible;
}

.screenshot-input > .content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.screenshot-input > .content > .image-preview {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.screenshot-input input {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.screenshot-input span {
    padding: 2em;
    text-align: center;
}

.screenshot-input img {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.screenshot-input img:hover {
    cursor: pointer;
}

.screenshot-popup-overlay {
    backdrop-filter: blur(4px) saturate(0%);
    transition: all 0.15s ease-out;
}

.screenshot-input-popup {
    display: flex;
    height: 80vh;
    width: 80vw;
}

.screenshot-input-popup img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.screenshot-input .remove {
    z-index: 3;
    position: absolute;
    right: -5%;
    top: -5%;
    border: 1px solid var(--primary-op);
    border-radius: 1em;
    width: 1.5em;
    height: 1.5em;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.screenshot-input .remove svg {
    height: min-content;
}

.screenshot-input .remove:hover {
    cursor: pointer;
}
