.settings-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    gap: 1em;
}

.settings-heading {
    grid-area: 1 / 1 / span 1 / span 3;
}

.settings-heading > .heading {
    margin: 0;
}

.settings-dehashed {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.settings-dehashed > .heading {
    margin: 0 0 0.5em 0;
}

.settings-oauth {
    grid-area: 2 / 3 / span 3 / span 1;
}

.settings-oauth > .heading {
    margin: 0 0 0.5em 0;
}

.settings-oauth-app-creation {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.settings-oauth-applications {
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}

.settings-oauth-applications-row {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr 5em 5em 5em;
    gap: 1em;
    border-radius: 0.5em;
    border: 1px solid var(--text);
    padding: 0.75em;
    filter: drop-shadow(0 0 5px var(--primary));
}

.settings-oauth-applications-row > div {
}

.settings-wordlists-creation {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 2fr 3fr;
}

.settings-wordlists-creation .sub-heading,
.settings-wordlists-creation .button {
    grid-column: span 2;
}

.settings-wordlists-creation > textarea {
    resize: vertical;
}

.settings-wordlists > .heading {
    margin: 0 0 0.5em 0;
}

.settings-wordlists .sub-heading {
    margin: 1rem 0;
}

.settings-wordlists-list {
    display: grid;
    grid-template-columns: 2fr 2fr 4fr 1fr;
    gap: 0.5em;
    align-items: center;
}

.settings-finding-factory label {
    display: contents;
}

.settings-finding-factory .collapsible-section {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.settings-finding-factory .collapsible-section h2 {
    grid-column: 1 / span 2;
}

.settings-finding-factory .collapsible-section .dropdown {
    /*
    This is set by .dropdown and I don't know why.
    But I don't want to break other code, so I'm unsetting it here
    because it breaks the UI.
    */
    z-index: unset;
}
