.settings-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    flex-direction: column;
    gap: 1em;
}

.settings-heading {
    grid-area: 1 / 1 / span 1 / span 3;
}

.settings-heading > .heading {
    margin: 0;
}

.settings-dehashed {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.settings-dehashed > .heading {
    margin: 0 0 0.5em 0;
}