.tabs-selector-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    margin-left: 0.5em;
    gap: 0.25em;
}

.tabs {
    border-radius: 0.5em 0.5em 0 0;
    background-color: #00ccff10;
    cursor: pointer;

    width: 10em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-out;
}

.tabs:hover {
    background-color: #00ccff40;
    height: 3em;
    transition: all 0.15s ease-out;
}

.tabs h3 {
    margin: 0.6em 1em;
}

.selected-tab {
    background-color: #00ccff30;
    height: 3em;
    transition: all 0.15s ease-out;
}

.icon-tabs {
    border-radius: 0.5em 0.5em 0 0;
    background-color: #00ccff10;
    cursor: pointer;

    width: 4em;
    padding: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.15s ease-out;
    height: 1em;
}

.icon-tabs:hover {
    background-color: #00ccff40;
    height: 1.5em;
    transition: all 0.15s ease-out;
}

.icon-tabs .icon {
    width: 2em;
}

.selected-tab:hover {
    background-color: #033745;
}

.selected-icon-tab {
    background-color: #00ccff30;
    height: 1.5em;
    transition: all 0.15s ease-out;
}
