.workspace-create-tag {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-items: left;
}

.workspace-create-tag > .tag {
    font-size: 1.5em;
}

.workspace-create-tag-body {
    display: grid;
    gap: 0.5em 2em;
}
.workspace-create-tag-body label {
    display: contents;
}
.workspace-create-tag-body input {
    grid-row: 2;
}
.workspace-create-tag-body label {
    grid-row: 1;
}

.workspace-create-tag-body input[type="range"] {
    width: 5em;
}

.workspace-create-tag-global {
    display: flex;
    align-items: center;
    gap: 2em;
}

.workspace-create-tag-submit {
    justify-self: stretch;
}
