.workspace-attacks-bsd-ct {
    display: grid;
    grid-template-rows: 1fr max-content;
}

.workspace-attacks-bsd {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-auto-rows: max-content;
    gap: 0.5em;
    align-items: center;
}

.workspace-attacks-bsd-advanced-button {
    grid-column: span 2;
    display: flex;
    height: 2em;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

.workspace-attacks-bsd-advanced-button .icon {
    width: 2em;
}

.workspace-attacks-bsd-advanced {
    grid-column: span 2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1em;
    align-items: center;
    height: max-content;
    transition: all ease 750ms;
    opacity: 0;
}

.workspace-attacks-bsd-advanced-open {
    opacity: 100%;
}