.workspace-data-container {
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: 8fr 3fr;
    grid-template-rows: min-content auto auto;
    gap: 1em;
    animation: yourAnimation 0.3s step-End 0.4s 1 normal backwards;
}

.workspace-data-selector {
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.workspace-data-selector > .pane {
    padding: 1em 2em;
    cursor: pointer;
    transition: all 200ms;
}

.workspace-data-selector > .pane:hover {
    box-shadow: 0 0 25em var(--primary-op), inset 0 0 10em #0cf3, inset 0 0 0.5em #0ff2, 0 0 1em var(--primary-op);
}

.workspace-data-selector h3 {
    margin: 0;
}

.workspace-data-selected-tab {
    background-color: var(--primary);
}

.workspace-data-details {
    grid-area: 1 / 2 / -1 / span 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.workspace-data-details > h2 {
    margin: 0;
    text-align: center;
}

.workspace-data-table {
    padding: 2em 1em;

    /* Is overwritten by javascript to set the number of columns */
    --columns: 4;
}

.workspace-data-filter {
    margin: 0 1em 1.5em;
}

.workspace-data-table-header {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 0.5em;
    align-items: center;

    color: white;
    padding: 0 1em 0.2em;
    margin: 0 1em 0.5em;
    border-bottom: 1px solid white;
}

.workspace-data-table-body {
    display: flex;
    flex-direction: column;

    overflow-y: auto;
    height: calc(100vh - 31.1em);
    padding: 0 1.5em;
}

.workspace-data-table-row {
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
    gap: 0.5em;
    align-items: center;

    transition: all ease 200ms;
    cursor: pointer;
    padding: 0.3em 0.5em;
}

.workspace-data-table-row:hover {
    --color: var(--primary-op);
    --blur: 0.5em;
    --offset: 0.2em;
    box-shadow:
        inset 0 var(--offset) var(--blur) var(--color),
        inset 0 calc(-1 * var(--offset)) var(--blur) var(--color);
}

.workspace-data-table-row:not(:first-child) {
    border-top: 2px solid var(--primary-op);
}

.workspace-data-table-controls {
    align-self: center;
    display: flex;
    flex-direction: row;
    align-items: center;
}