.workspace-host-container {
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: auto 8fr 3fr;
    grid-template-rows: calc((100% - 2em - 3.5em) / 3) 3.5em calc((100% - 2em - 3.5em) / 3 * 2);
    gap: 1em;
    animation: yourAnimation 0.3s step-End 0.4s 1 normal backwards;
    height: 100%;
}

.workspace-host-section-selector {
    grid-area: 2 / 2 / span 1 / span 1;
    display: flex;
    width: 100%;
    gap: 1em;
}

.workspace-host-section-selector > .pane {
    padding: 1em 2em;
    cursor: pointer;
    transition: all 200ms;
    flex-grow: 1;
    flex-basis: 0;
}

.workspace-host-section-selector > .pane:hover {
    box-shadow:
        0 0 25em var(--primary-op),
        inset 0 0 10em #0cf3,
        inset 0 0 0.5em #0ff2,
        0 0 1em var(--primary-op);
}

.workspace-host-section-selector h3 {
    margin: 0;
}

.workspace-host-selected-tab {
    background-color: var(--primary);
}

.workspace-host-content-details {
    grid-area: 1 / 3 / span 3 / span 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.workspace-host-content-details > h2 {
    margin: 0;
    text-align: center;
}

.workspace-host-host-container {
    grid-area: 1 / 2 / span 1 / span 1;
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.workspace-host-details {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.workspace-host-hosts-list {
    grid-area: 1 / 1 / span 3 / span 1;
    display: grid;
    grid-template-rows: 4.25em calc(100% - 1em - 4.25em);
    gap: 1em;
}

.workspace-host-hosts-list-header {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.workspace-host-hosts-list-entries {
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: auto;
}

.workspace-host-hosts-search {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
    gap: 0.5em;
    border: none;
}

.workspace-host-hosts-search > .icon {
    width: 2em;
    height: 2em;
    padding: 0;
    cursor: pointer;
}
.workspace-host-hosts-search > .icon:hover {
    filter: brightness(0) invert() drop-shadow(0 0 8px var(--primary));
}

.workspace-host-search-bar {
    background-color: var(--level-0);
    color: var(--text);
    padding: 0.5em 1em;
    border: none;
    border-radius: 0.5em;
    box-shadow:
        inset 0 -3px 2em -3px var(--primary-op),
        0 0 10em #0cf3,
        0 0 0.5em #0ff2;
    width: 10em;
}

.workspace-host-hosts-item {
    display: grid;
    grid-template-columns: 3em 5fr;
    height: 5em;
    gap: 1em;
    padding: 1em;
    border: none;
    cursor: pointer;
    color: var(--text);
    text-align: left;
}

.workspace-host-hosts-item:hover,
.workspace-host-hosts-back:hover {
    box-shadow:
        0 0 25em var(--primary-op),
        inset 0 0 10em #0cf3,
        inset 0 0 0.5em #0ff2,
        0 0 1em var(--primary-op);
}

.workspace-host-hosts-item.selected {
    background-color: var(--primary);
}

.workspace-host-hosts-info {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    font-size: small;
    height: 4em;
    width: 12em;
}

.workspace-host-comment-overflow {
    white-space: nowrap;
    overflow: clip;
}
