.workspace-hosts-container {
    display: grid;
    grid-auto-rows: min-content 1fr min-content;
    flex-direction: column;
    gap: 1em;
}

.workspace-hosts-search-pane {
    padding: 1em;
}

.workspace-hosts-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30em, 1fr));
    gap: 1em;
    overflow-y: auto;
    height: fit-content;
}

.workspace-hosts-host {
    display: flex;
    flex-direction: row;
    gap: 1em;
    cursor: pointer;
    justify-content: left;
    transition: all ease 200ms;
    padding: 1em;
}

.workspace-hosts-host:hover {
    box-shadow:
        0 0 25em var(--primary-op),
        inset 0 0 10em #0cf3,
        inset 0 0 0.5em #0ff2,
        0 0 1em var(--primary-op);
}

.workspace-hosts-host > .icon {
    width: 6em;
}

.workspace-hosts-host-info {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
    font-size: small;
}
