.workspace-data-details-flex {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    height: 100%;
}

.workspace-data-details-result-container {
    padding-top: 1em;
    border-radius: 0.5em;
    border: 1px solid var(--primary-op);
    background-color: #00ccff10;
    height: 0;
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
}

.workspace-data-details-pane {
    --pane-padding: 1em;
    --neg-pane-padding: -1em; /* this must be negative the above! */

    display: flex;
    padding: var(--pane-padding);
    flex-direction: column;
    border-radius: 0.5em;
    border: 1px solid var(--primary-op);
    background-color: #00ccff10;
    gap: 0.5em;
}

.workspace-data-details-pane.wide {
    grid-column: 1 / span 2;
}

.workspace-data-details-pane hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: var(--primary-op);
    margin: 0.5em 0;
    margin-left: var(--neg-pane-padding);
    padding: 0 var(--pane-padding);
}

.workspace-data-details-pane pre {
    white-space: pre-wrap;
}

.workspace-data-details-container {
    overflow-y: auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin: 1em;
}

.workspace-data-details-result-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.workspace-data-details-container .workspace-data-details-pane {
    gap: 0.5em;
}

.workspace-data-details-list {
    display: flex;
    flex-direction: row;
    gap: 1.5em;
}

.workspace-data-certainty-list {
    display: flex;
    align-items: center;
}

.workspace-data-details-list-elements {
    display: flex;
    flex-direction: column;
    gap: 0.25em;
}

.workspace-data-details-text-wrap {
    width: 14em;
    overflow-wrap: break-word;
}

.workspace-data-details-pane-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.workspace-data-details-table-elements {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.workspace-data-details-table-heading {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 1px solid var(--primary-op);
    margin-bottom: 0.2em;
    padding-bottom: 0.2em;
}

.workspace-data-details-table {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.workspace-data-details-page-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}

.workspace-data-details-table-controls {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    width: 100%;
}

.workspace-data-details-controls-container {
    grid-column-start: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace-data-details-uuid {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 1em;
    align-items: center;
    padding-bottom: 1em;
    opacity: 0.8;
}

.workspace-data-details-filter {
    display: flex;
    flex-direction: row;
}

.workspace-data-details-filter span {
    width: 2em;
}

.workspace-data-details-overflow {
    overflow: hidden;
}

.workspace-data-details-relations-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-color: #00ccff10;
    border-radius: 0.5em;
    border: 1px solid var(--primary-op);
    width: calc(100% - 2px);
    max-height: 100%;
}

.workspace-data-details-relations-header {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
}

.workspace-data-details-relations-header div {
    margin: 1em;
}

.workspace-data-details-relations-heading {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    width: 100%;
    height: 100%;
    background-color: #00ccff10;
}

.workspace-data-details-relations-heading div {
    margin: 0;
}

.workspace-data-details-relations-body {
    width: 100%;
    overflow-y: auto;
}

.workspace-data-details-relations-entry {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    justify-items: center;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 0.5em 0;
}

.workspace-data-details-findings,
.workspace-data-details-findings .workspace-data-details-relations-entry {
    grid-template-columns: 0.5fr 1fr 1fr;
}

.workspace-data-details-findings:not(.workspace-data-details-relations-header):hover {
    cursor: pointer;
    --color: var(--primary-op);
    --blur: 0.5em;
    --offset: 0.2em;
    box-shadow:
        inset 0 var(--offset) var(--blur) var(--color),
        inset 0 calc(-1 * var(--offset)) var(--blur) var(--color);
}

.workspace-data-details-relations-entry > div {
    width: 2em;
    height: 2em;
}

.workspace-data-details-relations-entry .icon {
    margin-top: 0.1em;
}

.workspace-data-details-relations-entry:not(:first-child) {
    border-top: 1px solid var(--primary-op);
}

.indirect div {
    width: 4em;
    overflow: hidden;
    position: relative;
    left: -1em;
}

.workspace-data-details-relations-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00ccff10;
    font-weight: bold;
    transition: ease-in-out 500ms;
}

.workspace-data-details-relations-footer:hover {
    cursor: pointer;
    filter: drop-shadow(0 0 0.5em var(--primary));
    transition: ease-in-out 500ms;
}

.workspace-data-details-relations-footer > div {
    width: 1.5em;
    padding: 1em;
}

.workspace-data-details-link {
    border-bottom: var(--text) 1px solid;
    transition: all ease-in-out 0.2s;
}

.workspace-data-details-link:hover {
    cursor: pointer;
}

.workspace-data-details-link:active {
    transform: translate(0.1em, 0.1em);
}
