.workspace-attacks-dns-txt-scan-container {
    display: grid;
    grid-template-rows: 1fr max-content;
}

.workspace-attacks-dns-txt-scan {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-auto-rows: max-content;
    gap: 1em;
}
