.workspace-table {
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    overflow-x: auto;

    /* Is overwritten by javascript */
    --columns: 1fr 1fr 1fr 1fr;
}

.workspace-table-pre-header {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    margin: 0 1em 1.5em;
}

.workspace-table-pre-header form {
    display: contents;
}

.workspace-table-pre-header input {
    flex-grow: 1;
}

.workspace-table-pre-header .icon {
    width: 1.4em;
}

.workspace-table-body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    padding: 0 1.5em;
}

.workspace-table-body span {
    word-wrap: anywhere;
}

.workspace-table-button {
    background: none;
    border: none;
}

.workspace-table-button > .icon {
    width: 2em;
    height: 2em;
    cursor: pointer;
    padding: 0;
}

.workspace-table-button > .icon:hover {
    filter: brightness(0) invert() drop-shadow(0 0 8px var(--primary));
}

.workspace-table-controls {
    align-self: center;
    display: grid;
    grid-template-columns: 1fr auto auto 1fr;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.pagination-icon > svg {
    display: flex;
    width: 2.5em;
    height: 2.5em;
    padding: 0;
    align-items: center;
    justify-content: center;
}

.workspace-table-controls-page-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2em;
}

.workspace-table-controls-button-container {
    grid-column-start: 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.workspace-table-header {
    display: grid;
    grid-template-columns: var(--columns);
    gap: 1em;
    align-items: center;
    color: white;
    padding: 0 1em 0.2em;
    margin: 0 1em 0.5em;
    border-bottom: 1px solid white;
}

.workspace-table-row {
    display: grid;
    grid-template-columns: var(--columns);
    gap: 1em;
    align-items: center;
    transition: background-color linear 200ms;
    cursor: pointer;
    padding: 0.3em 0.5em;
}

.workspace-table-row-selected {
    background-color: #00ccff20;
}

.workspace-table-row:hover {
    --color: var(--primary-op);
    --blur: 0.5em;
    --offset: 0.2em;
    box-shadow:
        inset 0 var(--offset) var(--blur) var(--color),
        inset 0 calc(-1 * var(--offset)) var(--blur) var(--color);
}

.workspace-table-row:not(:first-child) {
    border-top: 2px solid var(--primary-op);
}

.workspace-table-row .bubble {
    padding: 0 0.5em;
}

.solid-background {
    background-color: #00ccff10;
    border: 1px solid var(--primary-op);
    border-radius: 0.5em;
}
