.workspace-outer-container {
    display: grid;
    grid-template-columns: 2fr 1fr 7em;
    grid-template-rows: max-content max-content 1fr;
    gap: 1em;
    animation: yourAnimation 0.3s step-End 0.4s 1 normal backwards;
    height: calc(100% - 6em);
}

.workspace-heading {
    grid-area: 1 / 1 / 1 / span 3;
    height: fit-content;
}

.workspace-heading > h2 {
    margin: 0;
}

.workspace-section-selector {
    grid-area: 2 / 1 / span 1 / span 2;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.workspace-section-selector > .pane {
    padding: 1em 2em;
    cursor: pointer;
    transition: all 200ms;
}

.workspace-section-selector > .pane:hover {
    box-shadow: 0 0 25em var(--primary-op), inset 0 0 10em #0cf3, inset 0 0 0.5em #0ff2, 0 0 1em var(--primary-op);
}

.workspace-section-selector h3 {
    margin: 0;
}

.workspace-selected-tab {
    filter: drop-shadow(0 0 0 var(--primary));
}

.workspace-menu {
    grid-area: 2 / 3 / span 2 / span 1;
    display: flex;
    padding: 1.5em;
    gap: 1.5em;
    flex-direction: column;
}

.workspace-content-details {
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.workspace-content-details > h2 {
    margin: 0;
    text-align: center;
}

.workspace-content-table {
    border-collapse: collapse;
}

.workspace-content-row {
    text-align: left;
}