.workspace-list-outer-container {
    display: flex;
    gap: 1em;
    flex-direction: column;
    animation: yourAnimation 0.3s step-End 0.4s 1 normal backwards;
    height: 100%;
    overflow-y: auto;
}

.workspace-list-creation {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.workspace-list-creation > .icon {
    width: 10em;
    padding: 0 2em;
}

.workspace-list-creation-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.workspace-list-creation-table {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 8em 20em;
}

.workspace-list-creation-table > .button:last-of-type {
    margin-top: 1em;
    grid-column: 1 / span 2;
}

.workspace-list-creation-table > textarea {
    height: 5em;
    resize: none;
}

.workspace-list-filter {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
    padding: 1em 2em;
}

.workspace-list-filter-ownership {
    display: flex;
    gap: 2em;
    align-items: center;
}

.workspace-list-filter-ownership > .heading {
    margin: 0;
}

.workspace-list-checkbox-table {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 3.5em;
    justify-content: space-between;
    align-items: start;
    margin-left: -1em;
}

.workspace-list-checkbox-table > label {
    margin-left: 1em;
}

.workspace-list-sorting {
    display: flex;
    gap: 2em;
    align-items: center;
}

.workspace-list-sorting > .heading {
    margin: 0;
}

.workspace-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 24em);
    gap: 1em;
    justify-content: center;
}

.workspace-list-item {
    cursor: pointer;
    width: 20em;
    transition: all 200ms;
}

.workspace-list-item:hover {
    box-shadow:
        0 0 25em var(--primary-op),
        inset 0 0 10em #0cf3,
        inset 0 0 0.5em #0ff2,
        0 0 1em var(--primary-op);
}

.workspace-list-item > .heading {
    margin: 0 0 1em 0;
}

.workspace-list-table {
    display: grid;
    gap: 0.25em;
    grid-template-columns: 1fr 2fr;
}
