.workspace-attacks-dns-resolution-container {
    display: grid;
    grid-template-rows: 1fr max-content;
}

.workspace-attacks-dns-resolution {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    grid-auto-rows: max-content;
    gap: 1em;
}
