.workspace-outer-container {
    display: grid;
    grid-gap: 1em;
    animation: yourAnimation 0.3s step-End 0.4s 1 normal backwards;
}

.workspace-creation {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.workspace-creation > .icon {
    width: 10em;
    padding: 0 2em;
}

.workspace-creation-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
}

.workspace-creation-table {
    display: grid;
    gap: 0.5em;
    grid-template-columns: 8em 20em;
}

.workspace-creation-table > .button:last-of-type {
    margin-top: 1em;
    grid-column: 1 / span 2;
}

.workspace-creation-table > textarea {
    height: 5em;
    resize: none;
}

.workspace-list-filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4em;
    padding: 1em 2em;
}

.workspace-filter-ownership {
    display: flex;
    gap: 2em;
    align-items: center;
}

.workspace-filter-ownership > .heading {
    margin: 0;
}

.workspace-filter-ownership-table {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}

.workspace-sorting {
    display: flex;
    gap: 2em;
    align-items: center;
}

.workspace-sorting > .heading {
    margin: 0;
}

.workspace-sorting-table {
    display: grid;
    grid-template-columns: 3fr 1fr 1em 3fr 1fr;
    align-items: center;
}

.workspace-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.workspace {
    cursor: pointer;
    width: 20em;
    transition: all 200ms;
}

.workspace:hover {
    box-shadow: 0 0 25em var(--primary-op), inset 0 0 10em #0cf3, inset 0 0 0.5em #0ff2, 0 0 1em var(--primary-op);
}

.workspace > .heading {
    margin: 0 0 1em 0;
}

.workspace-table {
    display: grid;
    gap: 0.25em;
    grid-template-columns: 1fr 2fr;
}