.workspace-data-container {
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: 8fr 3fr;
    grid-template-rows: 2.75em calc(100% - 1em - 2.75em);
    gap: 1em;
    animation: yourAnimation 0.3s step-End 0.4s 1 normal backwards;
}

.workspace-data-filter {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    padding: 0.5em;
}

.workspace-data-filter form {
    display: contents;
}

.workspace-data-filter input {
    flex-grow: 1;
}

.workspace-data-filter .icon {
    width: 1.4em;
}

.workspace-data-table {
    display: grid;
    grid-template-rows: 3em calc(100% - 3em);
}

.workspace-data-details-selector {
    margin: 0.5em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
    justify-items: center;
    align-items: center;
    border-top: 1px solid var(--primary-op);
    border-bottom: 1px solid var(--primary-op);
}

.workspace-data-details-selector > .heading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em 0;
}

.workspace-data-details-selector > .heading:hover {
    cursor: pointer;
    --color: var(--primary-op);
    --blur: 0.5em;
    --offset: 0.1em;
    box-shadow:
        inset 0 var(--offset) var(--blur) var(--color),
        inset 0 calc(-1 * var(--offset)) var(--blur) var(--color);
}

.workspace-data-details-selected-tab {
    z-index: 1;
    background-color: #00ccff07;
    filter: drop-shadow(0 0 6px var(--primary));
    border-bottom: 1px solid var(--primary);
}

.workspace-data-details-selector > h3 {
    margin: 0.5em 0;
}

.workspace-data-selected-tab {
    background-color: var(--primary);
}

.workspace-data-details {
    grid-area: 1 / 2 / -1 / span 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 1em;
}

.workspace-data-details > h2 {
    margin: 0;
    text-align: center;
}
.workspace-data-details > h2:not(:first-child) {
    margin-top: 2em;
}

.workspace-data-details > .pane {
    gap: 0.5em;
}

.workspace-data-details textarea {
    resize: vertical;
}

.workspace-data-details .uuid {
    text-align: center;
    opacity: 0.6;
    font-size: 0.9em;
}

.workspace-data-create-form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 0.5em;
    align-items: center;
}
.workspace-data-create-form > h2 {
    grid-column: 1 / span 2;
    margin-bottom: 0.75em;
}
.workspace-data-create-form > label {
    display: contents;
}
.workspace-data-create-form > button {
    grid-column: 1 / span 2;
}

.workspace-data-create-form > div {
    grid-column: 1 / span 2;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.workspace-data-multi-select-table {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 0.5em;
    margin-bottom: 0.5em;
}
.workspace-data-multi-select-total {
    font-weight: bold;
}
.workspace-data-multi-select-tag-buttons {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}
.workspace-data-multi-select-tag-buttons > button {
    flex-grow: 1;
}

.workspace-data-pane {
    display: flex;
    padding: 2em;
    flex-direction: column;
    border-radius: 0.5em;
    border: 1px solid var(--primary-op);
    background-color: #00ccff10;
    gap: 1em;
    align-items: center;
}

.workspace-data-pane > div {
    width: 100%;
}

.workspace-data-danger-pane {
    display: flex;
    padding: 2em;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5em;
    border: 1px solid rgb(112, 0, 0);
    background-color: rgba(89, 0, 0, 0.25);
    gap: 1em;
}

.workspace-data-danger-pane > button {
    width: 100%;
}

.workspace-data-popup {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: rgba(89, 0, 0, 0.25);
}

.workspace-data-certainty-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.workspace-data-certainty-icon > div {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.1em;
}

.workspace-data-certainty-icon svg {
    width: 1.2em;
}

.workspace-data-certainty-letter {
    font-size: 1.2em;
    color: white;
    filter: drop-shadow(0 0 4px var(--primary));
}
