.workspace-outer-container {
    display: grid;
    grid-template-columns: 2fr 6fr 3fr 7em;
    grid-template-rows: max-content 1fr max-content 2fr;
    gap: 1em;
    animation: yourAnimation 0.3s step-End 0.4s 1 normal backwards;
    height: calc(100% - 6em);
}

.workspace-heading {
    grid-area: 1 / 1 / 1 / span 4;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.workspace-heading > h2 {
    margin: 0;
}

.workspace-heading-uuid {
    display: flex;
    gap: 1em;
    align-items: center;
}

.workspace-section-selector {
    grid-area: 3 / 2 / span 1 / span 1;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.workspace-section-selector > .pane {
    padding: 1em 2em;
    cursor: pointer;
    transition: all 200ms;
}

.workspace-section-selector > .pane:hover {
    box-shadow: 0 0 25em var(--primary-op), inset 0 0 10em #0cf3, inset 0 0 0.5em #0ff2, 0 0 1em var(--primary-op);
}

.workspace-section-selector h3 {
    margin: 0;
}

.workspace-selected-tab {
    background-color: var(--primary);
}

.workspace-menu {
    grid-area: 2 / 4 / span 3 / span 1;
    display: flex;
    padding: 1em;
    gap: 1em;
    flex-direction: column;
}

.workspace-menu-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    text-align: center;
    transition: all ease 200ms;
    cursor: pointer;
    transform-origin: center left;
    padding: 0.5em;
}

.workspace-menu-item:hover {
    color: white;
    filter: drop-shadow(0 0 8px var(--primary-op));
}

.workspace-menu-item:hover > .icon {
    animation: bounceRL 1s infinite;
}

.workspace-menu-item.active::after {
    content: "";
    position: absolute;
    right: -0.3em;
    top: calc(50% - 0.25em);
    border-radius: 50%;
    border: 0.25em solid white;
    background-color: white;
    filter: brightness(0) invert() drop-shadow(0 0 4px var(--primary));
}

.workspace-menu-hint {
    font-size: small;
}

.workspace-content-details {
    grid-area: 2 / 3 / span 3 / span 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.workspace-content-details > h2 {
    margin: 0;
    text-align: center;
}

.workspace-content-table {
    grid-area: 4 / 2 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.workspace-content-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    gap: 0.5em;
    border: 1px solid var(--text);
    border-radius: 0.5em;
    padding: 0.75em;
    color: white;
    transition: all ease 200ms;
}

.workspace-content-row:hover:not(:first-of-type) {
    box-shadow: 0 0 1em var(--primary);
    cursor: pointer;
}

.workspace-host-container {
    grid-area: 2 / 2 / span 1 / span 1;
}

.workspace-host-list {
    grid-area: 2 / 1 / span 3 / span 1;
}