.workspace-data-container {
    grid-area: 2 / 1 / span 1 / span 1;
    display: grid;
    grid-template-columns: 8fr 3fr;
    grid-template-rows: 4em 4em auto 2em 1fr;
    gap: 1em;
    animation: yourAnimation 0.3s step-End 0.4s 1 normal backwards;
}

.workspace-data-selector {
    grid-area: 1 / 1 / span 1 / span 1;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
}

.workspace-data-selector > .pane {
    padding: 1em 2em;
    cursor: pointer;
    transition: all 200ms;
}

.workspace-data-selector > .pane:hover {
    box-shadow: 0 0 25em var(--primary-op), inset 0 0 10em #0cf3, inset 0 0 0.5em #0ff2, 0 0 1em var(--primary-op);
}

.workspace-data-selector h3 {
    margin: 0;
}

.workspace-data-selected-tab {
    background-color: var(--primary);
}

.workspace-data-details {
    grid-area: 1 / 2 / -1 / span 1;
    display: flex;
    flex-direction: column;
    justify-items: center;
}

.workspace-data-details > h2 {
    margin: 0;
    text-align: center;
}

.workspace-data-table-header {
    grid-area: 2 / 1 / span 1 / span 1;
    background-color: var(--primary-light);
    color: white;
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1.5fr 1.5fr;
    align-items: center;
    gap: 0.5em;
    border-radius: 0.5em;
    padding: 0.75em 1em;
    transition: all ease 200ms;
}

.workspace-data-table-body {
    max-height: calc(100vh - 28em);
    grid-area: 3 / 1 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow-y: auto;
}

.workspace-data-table-row {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1.5fr 1.5fr;
    align-items: center;
    gap: 0.5em;
    border-radius: 0.5em;
    padding: 0.75em 1em;
    transition: all ease 200ms;
}

.workspace-data-table-controls {
    display: flex;
    flex-direction: row;
    grid-area: 4/ 1 / span 1 / span 1;
}