[Unit]
Description=leech
After=network.target

Wants=postgresql.service
After=postgresql.service

[Service]
Type=simple

User=leech
Group=leech

RuntimeDirectory=leech
LogsDirectory=leech
StateDirectory=leech
ConfigurationDirectory=leech

MemoryDenyWriteExecute=yes
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX
RestrictRealtime=yes
RestrictNamespaces=~user
InaccessiblePaths=/boot
PrivateUsers=yes
UMask=0177
PrivateDevices=yes
CapabilityBoundingSet=
ProtectClock=yes
PrivateUsers=yes
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
ProtectHome=yes
PrivateTmp=yes
RestrictSUIDSGID=yes
NoNewPrivileges=yes
LockPersonality=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=noaccess
ProtectSystem=yes
ProtectHostname=yes
RemoveIPC=yes
ProtectControlGroups=yes
SystemCallArchitectures=native

WorkingDirectory=/var/lib/leech/
ExecStart=/usr/local/bin/leech server

Restart=always
RestartSec=3
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target