[Unit]
Description=leech
After=network.target

Wants=postgresql.service
After=postgresql.service

[Service]
Type=simple

User=leech
Group=leech

RuntimeDirectory=leech
LogsDirectory=leech
StateDirectory=leech
ConfigurationDirectory=leech
ConfigurationDirectoryMode=0750

LimitNOFILE=65535

MemoryDenyWriteExecute=yes
# don't RestrictAddressFamilies, we use raw sockets which don't work then
RestrictRealtime=yes
RestrictNamespaces=~user
InaccessiblePaths=/boot
# can't set PrivateUsers due to raw sockets
UMask=0177
PrivateDevices=yes
CapabilityBoundingSet=CAP_NET_RAW
AmbientCapabilities=CAP_NET_RAW
ProtectClock=yes
SystemCallFilter=@system-service
SystemCallFilter=~@privileged @resources
ProtectHome=yes
PrivateTmp=yes
RestrictSUIDSGID=yes
NoNewPrivileges=yes
LockPersonality=yes
ProtectKernelLogs=yes
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=noaccess
ProtectSystem=yes
ProtectHostname=yes
RemoveIPC=yes
ProtectControlGroups=yes
SystemCallArchitectures=native

WorkingDirectory=/var/lib/leech/
ExecStart=/usr/local/bin/leech server

Restart=always
RestartSec=3
TimeoutStopSec=3

[Install]
WantedBy=multi-user.target
