---
name: Deploy docs

concurrency:
  group: production
  cancel-in-progress: true

on:
  push:
    branches:
      - main
    paths:
      - 'docs/**'

jobs:
  deployment:
    runs-on: ubuntu-latest
    environment: production
    steps:
      - uses: actions/checkout@v3
      - uses: webfactory/ssh-agent@v0.8.0
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      - name: deploy to server
        run: |
          ssh -o "StrictHostKeyChecking accept-new" gh-deploy-kraken@49.12.197.193 "/bin/bash /home/gh-deploy/deploy.sh"