name: Build & Tests on linux
on:
  push:
    paths-ignore:
      - "**/*.md"
      - "kraken_frontend/**"
  pull_request:
    paths-ignore:
      - "**/*.md"
      - "kraken_frontend/**"

jobs:
  build_rs:
    name: Build & Tests on linux
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
      actions: read
    env:
      CARGO_TERM_COLOR: always
    steps:
      - uses: actions/checkout@v3

      # When rustup is updated, it tries to replace its binary, which on Windows is somehow locked.
      # This can result in the CI failure, see: https://github.com/rust-lang/rustup/issues/3029
      - run: |
          rustup set auto-self-update disable
          rustup toolchain install stable --profile minimal

      - uses: Swatinem/rust-cache@v2

      - name: Install dependencies
        run: |
          rustup component add clippy
          cargo install clippy-sarif sarif-fmt cargo-deny
          sudo apt-get install protobuf-compiler

      - name: Build kraken
        run: cargo build --bin kraken --features bin

      - name: Build kraken library
        run: cargo build -p kraken --lib

      - name: Build kraken sdk
        run: cargo build -p kraken-sdk

      - name: Build leech
        run: cargo build -p leech

      - name: Run cargo-deny
        run: cargo deny check --hide-inclusion-graph

      - name: Run rust-clippy
        run: cargo clippy --workspace --message-format=json -F bin | clippy-sarif | tee rust-clippy-results.sarif | sarif-fmt
        continue-on-error: true

      - name: Upload clippy analysis results to GitHub
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: rust-clippy-results.sarif
          wait-for-processing: true